html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  /* background-color: #e9e7d3; */
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.contact-edit-modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.contact-edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* opacity: 0.5; */
}

.wave svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 285px;
}

.wave .shape-fill {
  fill: #597fdb;
}

@media only screen and (max-width: 550px) {
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
  }

  .wave .shape-fill {
    fill: #597fdb;
  }
}
